<!DOCTYPE html>
<html ng-app="LoginModule">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<script src="angular.min.js"></script>
<script>
var module=angular.module("LoginModule",[]);


module.controller("login",function($location,$scope)
{
	
 $scope.Validation = function()
{
	alert("in login function");
	var uname= $scope.uname;
	var pwd= $scope.pwd;
	console.log(uname);
	console.log(pwd);
	
	var JSONuser=localStorage.getItem(uname);
	console.log(JSONuser);
	
	if(JSONuser==null)
		{
		alert("got data from localstorage");	
		}
	
	var userObj=JSON.parse(JSONuser);
	console.log("user pwd from localstorage: "+userObj.pwd);
	if(pwd==userObj.pwd)
		{
			console.log("trueee");
		 	//$location.path("/wel" );
		 	window.location="Welcome2.html";
		}
	else{
		console.log("falsee");
		window.location="Login2.html";
		alert("please enter correct credentials")
		}
}

});
</script>
</head>
<body>

	<div ng-controller="login">
		First name: <input type="text" id="uname" ng-model="uname">
		<br>
		<br>
		 password: <input type="password" id="pwd" ng-model="pwd">
		 <br>
		<br> 
		<input type="submit" value="submit" ng-Click="Validation()">
	</div>
</body>
</html>